@charset "UTF-8";
@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/card.css");
@import url("styles/visitados.css");
@import url("styles/cadastro.css");
@import url("styles/footer.css");

:root{
    --cor-de-fundo:#EBECEE;
    --branco-primario:#FFFFFF;
    --azul-primario: #002F52;
    --azul-secundario: #326589;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --laranja: #EB9B00;
    --fonte-principal: "Poppins";
    --cinza: #858585;
    --fonte-secundaria : "Josefin Sans";
    --preto: #000000;
    
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

