.cadastro{
    background-color: var(--branco-primario);
    padding: 1.5em 1em;
    font-family: var(--fonte-principal);
    text-align: center;
}

.cadastro__titulo{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 1em;
    text-align: left;
}

.cadastro__texto{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 300;
    padding-bottom: 1em;
    text-align: left;
}

.cadastro__email{
    padding: 1em;
    border: 1px solid var(--azul-primario);
    border-radius: 24px;
    width: 100%;
    color: var(--azul-primario);
}

.cadastro__email::placeholder{
    color: var(--azul-primario);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    background: url("../img/Email.svg") no-repeat ;
    background-position: 0.5em;
    padding-left: 2.5em;

}

@media screen and (min-width: 1024px){
    .cadastro{
        display: flex;
        padding: 2em 9em;
        align-items: center;
        gap: 7em;
    }
    .cadastro__titulo{
        font-size: 24px;
    }
  
}
@media screen and (min-width: 1728px){
    .cadastro{
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 5em 34em;
       
    }
}