.cabecalho__menu__hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-position: center;
    display: inline-block;
}

.cabecalho{
    background-color: var(--branco-primario);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
    margin: 1em;
    gap: 1.5em;
}

.lista__menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked ~ .lista__menu{
    display: block ;
}

.lista__menu__titulo, .lista__menu__item{
    padding: 1em;
    background-color: var(--branco-primario);
}

.lista__menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista__menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    text-decoration: none;
}

.container__botao{
    display: none;
}

.opcoes{
    display: none;
}

.container__titulo{display: none;}

@media screen and (min-width: 1024px){
    .container__titulo{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        font-weight: 400;
        display: inline;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
        align-items: center;
        font-family: var(--fonte-principal);
        text-transform: uppercase;
    }

    .opcoes__item{
        padding: 0 1em;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }

    .item__favoritos{
        display: none;
    }

    .cabecalho__menu__hamburguer{
        display: none;
    }

    .opcoes__botao:checked ~ .lista__menu{
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }
    .item__link{
        display: none;
    }
} 

@media screen and (min-width: 1728px){
    
    .cabecalho{
        padding: 0 1em 0 2em;
    }
    
    .cabecalho__item{
        display: flex;
        align-items: center;
        gap: 0.5em;
        font-size: 20px;
        text-decoration: none;
        color: var(--preto);
        margin-right: 1em ;
        
    }

    .item__link{
        display: inline;
    }

    .opcoes{
        margin-right: auto;
        margin-left: 3em;
    }
}