.visitados{
    background: var(--azul-degrade);
    padding: 1em 1em 0 1em;
    text-align: center;
    font-family: var(--fonte-principal);
    color: var(--branco-primario);
}

.visitados__titulo{
    text-transform: uppercase;
    font-weight: 300;
    padding: 1em 0;
}

.visitados__lista{
    padding: 1em 0;
}

.visitados__item{
    display: inline-block;
    padding: 1.5em 0.4em;
}

.visitados__item__link{
    text-decoration: none;
    color: var(--branco-primario);
    font-size: 14px;
    font-weight: 700;
    text-align: center;

    background-color: var(--laranja);
    padding: 1em;
}

@media screen and (min-width: 1024px){
    .visitados__titulo{
        font-size: 24px
    }

    .visitados__lista{
        padding: 2em 2em;
    }

    .visitados__item{
        padding: 2.5em 0.5em;
    }

    .visitados__item__link{
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px){
    .visitados__titulo{
        font-size: 32px;
        margin-top: 1em;
    }
    .visitados__lista{
        padding: 2em 30em 4em 30em;
        
    }
}